STRIPE_SECRET_KEY=sk_test_o_sk_live_inserisci_la_chiave_stripe
STRIPE_PUBLISHABLE_KEY=pk_test_o_pk_live_inserisci_la_chiave_pubblica
STRIPE_WEBHOOK_SECRET=whsec_inserisci_il_webhook_secret
PUBLIC_SITE_URL=https://tuo-sito.netlify.app
ADMIN_USERNAME=nome_utente_admin
ADMIN_PASSWORD=password_admin_sicura
PORT=4173
