STRIPE_SECRET_KEY=sk_live_inserisci_la_chiave_stripe
STRIPE_WEBHOOK_SECRET=whsec_inserisci_il_webhook_secret
PUBLIC_SITE_URL=https://adornabile.it
ADMIN_USERNAME=adornabile
ADMIN_PASSWORD=valeria8
PORT=4173
